$regular: 400;
$medium: 600;
$bold: 700;

$global-background-color: #FFFFFF;
$menu-background-color: #F5F5F9;
$main-text-color: #48494D;
$button-slider-color: #D7D9DF;
$button-color-white: #FFFFFF;
$button-color-red: #D12136;
